.tab-commande {
  margin-left: 5%;
}

thead{
font-weight: bolder;
font-size: large;
margin: 0 5px;
}
tr>td:not(td:first-child){
    width: 200px;
}
tr>td:first-child{
    width: 50px;
}
.img > img {
  width: 200px;
}
